<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ACCIon_RCON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Ark_RCON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="UserName" value="55555555555" />
    <add key="Password" value="22222222222" />
  </appSettings>
  <userSettings>
    <ACCIon_RCON.Properties.Settings>
      <setting name="Servername1" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername2" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername3" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername4" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername5" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerIP1" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP2" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP3" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP4" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP5" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort1" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort2" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort3" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort4" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort5" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName1" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName2" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName3" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName4" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName5" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername6" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername7" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername8" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername9" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername10" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerIP6" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP7" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP8" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP9" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP10" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort6" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort7" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort8" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort9" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort10" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName6" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName7" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName8" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName9" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName10" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor1" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor2" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor3" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor4" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor5" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor6" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor7" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor8" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor9" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor10" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername11" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername12" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername13" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername14" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername15" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort14" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerPort15" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServerIP11" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP12" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP13" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP14" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP15" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort11" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort12" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort13" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort14" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort15" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName11" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName12" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName13" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName14" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName15" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor11" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor12" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor13" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor14" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerColor15" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerGroup1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup3" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup4" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup5" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup6" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup7" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup8" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup9" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup10" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup11" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup12" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup13" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup14" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerGroup15" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GroupName1" serializeAs="String">
        <value>G1</value>
      </setting>
      <setting name="GroupName2" serializeAs="String">
        <value>G3</value>
      </setting>
      <setting name="GroupName3" serializeAs="String">
        <value>G2</value>
      </setting>
      <setting name="ServerGroup1_" serializeAs="String">
        <value>K+xg8OlZgD9BascEkJSlnCOT7+Pt8BJwOb+HdU63tEE=</value>
      </setting>
      <setting name="ServerGroup2_" serializeAs="String">
        <value>K+xg8OlZgD9BascEkJSlnCOT7+Pt8BJwOb+HdU63tEE=</value>
      </setting>
      <setting name="ServerGroup3_" serializeAs="String">
        <value>K+xg8OlZgD9BascEkJSlnCOT7+Pt8BJwOb+HdU63tEE=</value>
      </setting>
      <setting name="AutoRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupColor1" serializeAs="String">
        <value />
      </setting>
      <setting name="GroupColor2" serializeAs="String">
        <value />
      </setting>
      <setting name="GroupColor3" serializeAs="String">
        <value />
      </setting>
      <setting name="WhiteBG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowEmptyServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SimpleFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EMailAlert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EMailAdress" serializeAs="String">
        <value />
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="PlayerisNew" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Add1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add12" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add13" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add14" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add15" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add16" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add17" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add18" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add19" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Add20" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PatronConf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailHeader" serializeAs="String">
        <value>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1" /&gt;
  &lt;title&gt;ACCIon Server Notifications&lt;/title&gt;
  &lt;!-- Designed by https://github.com/kaytcat --&gt;
  &lt;!-- Robot header image designed by Freepik.com --&gt;

  &lt;style type="text/css"&gt; 

  /* Take care of image borders and formatting */

  img {
    max-width: 600px;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
  }

  a {
    text-decoration: none;
    border: 0;
    outline: none;
    color: #bbbbbb;
  }

  a img {
    border: none;
  }

  /* General styling */

  td, h1, h2, h3  {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
  }

  td {
    text-align: center;
  }

  body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%;
    height: 100%;
    color: #37302d;
    background: #ffffff;
    font-size: 16px;
  }

   table {
	border-collapse: collapse !important;
	width: 80%;
  }

  .headline {
    color: #ffffff;
    font-size: 36px;
  }

 .force-full-width {
  width: 100% !important;
 }

 .force-width-80 {
  width: 80% !important;
 }
  &lt;/style&gt; 
  &lt;style type="text/css" media="only screen and (max-width: 480px)"&gt;
    /* Mobile styles */
    @media only screen and (max-width: 480px) {

      table[class="w320"] {
        width: 320px !important;
      }

      td[class="mobile-block"] {
        width: 100% !important;
        display: block !important;
      }


    }
  &lt;/style&gt;
&lt;/head&gt;
&lt;body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff"&gt;
&lt;table align="center" cellpadding="0" cellspacing="0" class="force-full-width" height="100%"&gt;
  &lt;tr&gt;
    &lt;td align="center" valign="top" bgcolor="#ffffff"  width="100%"&gt;
      &lt;center&gt;
        &lt;table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="600" class="w320"&gt;
          &lt;tr&gt;
            &lt;td align="center" valign="top"&gt;

                &lt;table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" style="margin:0 auto;"&gt;
                  &lt;tr&gt;
                    &lt;td style="font-size: 30px; text-align:center;"&gt;
                      &lt;br&gt;
                      &lt;img src="https://www.accinfo.de/files/LuxDei_Theme/img/mlogo.png" width="auto" height="Auto" alt="robot picture"&gt;                      
                      &lt;br&gt;
                      &lt;br&gt;
                    &lt;/td&gt;
                  &lt;/tr&gt;
                &lt;/table&gt;

                &lt;table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" bgcolor="#c7e2ff"&gt;
                  &lt;tr&gt;
                    &lt;td&gt;
                    &lt;br&gt;
                      
                    &lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td class="headline"&gt;
                     ACCIon Server Notifications
                    &lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;

                      &lt;center&gt;
                        &lt;table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="95%"&gt;
                          &lt;tr&gt;
                            &lt;td style="color:#187272;"&gt;
                            &lt;br&gt;</value>
      </setting>
      <setting name="MailFooter" serializeAs="String">
        <value> &lt;br&gt;
                            &lt;/td&gt;
                          &lt;/tr&gt;
                        &lt;/table&gt;
                      &lt;/center&gt;
                    &lt;/td&gt;
                  &lt;/tr&gt;                 
                &lt;/table&gt;  
                &lt;table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width" bgcolor="#414141" style="margin: 0 auto"&gt; 
                  &lt;tr&gt;
                    &lt;td style="color:#bbbbbb; font-size:12px;"&gt;
                       © 2019 All Rights Reserved
                       &lt;br&gt;
                       &lt;br&gt;
                    &lt;/td&gt;
                  &lt;/tr&gt;
                &lt;/table&gt;
            &lt;/td&gt;
          &lt;/tr&gt;
        &lt;/table&gt;
    &lt;/center&gt;
    &lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;
&lt;/body&gt;
&lt;/html&gt;</value>
      </setting>
      <setting name="AlertServerSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlertServerDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlertWord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlertWordAd" serializeAs="String">
        <value />
      </setting>
      <setting name="AlerChatSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlertChatDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscordBotToken" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscordServerID" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscordBridgeEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscordChannelIDchat" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscordChannelIDcheats" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscordsendChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscordsendRCON" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscordChannelIDLogs" serializeAs="String">
        <value />
      </setting>
    </ACCIon_RCON.Properties.Settings>
    <Ark_RCON.Properties.Settings>
      <setting name="Servername1" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername2" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername3" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername4" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername5" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort1" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort2" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort3" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort4" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort5" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP1" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP2" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP3" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP4" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP5" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort1" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort2" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort3" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort4" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort5" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName1" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName2" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName3" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName4" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName5" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername6" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername7" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername8" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername9" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername10" serializeAs="String">
        <value />
      </setting>
      <setting name="Servername11" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort6" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort7" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort8" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort9" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort10" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort11" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP6" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP7" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP8" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP9" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP10" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerIP11" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort6" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort7" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort8" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort9" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort10" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPasswort11" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName6" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName7" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName8" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName9" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName10" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerChatName11" serializeAs="String">
        <value />
      </setting>
    </Ark_RCON.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" culture="neutral" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Thread" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Concurrent" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.EventBasedAsync" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Contracts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Debug" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tools" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Dynamic.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Parallel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Queryable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.NetworkInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Requests" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ObjectModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.ResourceManager" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Numerics" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Json" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Xml" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.SecureString" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.RegularExpressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Parallel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Timer" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XmlSerializer" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>